
<p ><%= comment.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= comment.body %>&nbsp;&nbsp;&nbsp;<%= time_ago_in_words(comment.created_at) %>&nbsp;&nbsp;&nbsp;<span>ago</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<% if user_signed_in? %>
	<%= link_to 'delete', [comment.post,comment], method: :delete, data: { confirm: 'Are You sure Want To Delete'} %></p>
	<% end %>


 
<hr>